{% extends "registration/registration_base.html" %}
{% load static %}
{% load i18n crispy_forms_tags %}
{% block title %}{% trans "Log In" %}{% endblock %}

{% block content %}

  <!-- navigation -->
  <div class="border-bottom shadow-sm">
    <nav class="navbar navbar-light py-2">
      <div class="container justify-content-center justify-content-lg-between">
        <a class="navbar-brand font-weight-bold" href="{% url "products:index" %}">
          {% comment %} <h2 class="d-inline-block align-text-top">Odadoz</h2>  {% endcomment %}
        </a>
        <span class="navbar-text">
          Already have an account? <a href="{% url 'registration_register' %}">Sign in</a>
        </span>
      </div>
    </nav>
  </div>

<main>
  <!-- section -->
  <section class="my-lg-14 my-8">
    <div class="container">
      <!-- row -->
      <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-6 col-lg-4 order-lg-1 order-2">
          <!-- img -->
          <img src="{% static "web/images/svg-graphics/login-apply.jpg" %}" alt="" class="img-fluid">
        </div>
        <!-- col -->
        <div class="col-12 col-md-6 offset-lg-1 col-lg-4 order-lg-2 order-1">
          <div class="mb-lg-9 mb-5">
            <h1 class="mb-1 h2 fw-bold">Sign in to FreshCart</h1>
            <p>Welcome back to FreshCart! Enter your email to get started.</p>
          </div>

            <form method="post" action="">

              {% csrf_token %}   
              <div class="row g-3">

                {{form|crispy}}

                  <input type="submit" class="btn btn-primary" value="{% trans 'Log in' %}" />
                  <input type="hidden" name="next" value="{{ next }}" />
                    
                  <p>{% trans "Not a member?" %} <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>.</p>

                  <p>{% trans "Forgot your password?" %} <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>.</p>
                  
              </div>

            </form>

        </div>
      </div>
    </div>
  </section>
</main>


{% endblock %}



{% comment %}
**registration/login.html**

It's your responsibility to provide the login form in a template called
registration/login.html by default. This template gets passed four
template context variables:

``form``
    A Form object representing the login form. See the forms
    documentation for more on Form objects.

``next``
    The URL to redirect to after successful login. This may contain a
    query string, too.

``site``
    The current Site, according to the SITE_ID setting. If you don't
    have the site framework installed, this will be set to an instance
    of RequestSite, which derives the site name and domain from the
    current HttpRequest.

``site_name``
    An alias for site.name. If you don't have the site framework
    installed, this will be set to the value of
    request.META['SERVER_NAME']. For more on sites, see The
    "sites" framework.
{% endcomment %}
