{% extends "registration/registration_base.html" %}
{% load static %}
{% load i18n %}
{% load i18n crispy_forms_tags %}
{% block title %}{% trans "Password changed" %}{% endblock %}

{% block content %}
 <!-- navigation -->
 <div class="border-bottom shadow-sm">
    <nav class="navbar navbar-light py-2">
      <div class="container justify-content-center justify-content-lg-between">
        <a class="navbar-brand font-weight-bold" href="{% url "products:index" %}">
          <h2 class="d-inline-block align-text-top">Odadoz</h2> 
        </a>
        <span class="navbar-text">
          Already have an account? <a href="{% url 'auth_login' %}">Sign in</a>
        </span>
      </div>
    </nav>
  </div>

<main>
  <!-- section -->
  <section class="my-lg-14 my-8">
    <div class="container">
      <!-- row -->
      <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-6 col-lg-4 order-lg-1 order-2">
          <!-- img -->
          <img src="{% static "web/images/svg-graphics/welldone_rest_password.png" %}" width="300px" alt="" class="img-fluid">
        </div>
        <!-- col -->
        <div class="col-12 col-md-6 offset-lg-1 col-lg-4 order-lg-2 order-1">
          <div class="mb-lg-9 mb-5">
            <h1 class="mb-1 h2 fw-bold">Sign in to Odadoz</h1>
            <p>Welcome back to Odadoz! Enter your email to get Thankyou.</p>
          </div>


<form method="post" action="">
    {% csrf_token %}
    {{form|crispy}}
<p>{% trans "Password successfully changed!" %}</p>
</form>

{% endblock %}



{# This is used by django.contrib.auth #}
